## Standard C++ gitignore entries
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


## IDE-related gitignore entries
# VS project files
.vs
*.sln
Debug
Release
ipch
*.suo
*.sdf

# VS Code settings directory
.vscode

# CodeBlocks build directories
bin
obj

# CodeBlocks project files
*.cbp
*.cscope_file_list
*.depend
*.layout

# Notepad++ backup directory
nppBackup

## Other
dePIKczer
build
todo.txt
*.bat
